node_modules
dist
.DS_Store
graphify-out/

# Android / Gradle
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
android/.idea/
android/keystore.properties
android/app/logos-release.keystore
android/local.properties
.capacitor/
capacitor.config.jsonc
